*{
    margin: 0;
    padding: 0;
}
.text{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #551A8B;
}
a{
    text-decoration: none;
    display: block;
    width: 180px;
    height: 48px;
    border: 1px solid #000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
}
.active{
    background-color: #000;
    color: aliceblue;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: 32px auto;
    position: absolute;
    top: 10px;
    left: 10px;
}
